<div class="footer footer-padding">
  <div>
    For additional information, please contact me: <%= @contact_email %>.
  </div>
  <div>
    Last Updated <%= @view_last_modified_date %>, Version 1.0.0.1 (Release)
  </div>
</div>