<ul class="navigation-bar">
  <li><%= link_to_unless_current("Home", {:action => "index"}) %></li>
  <li><%= link_to_unless_current("Personal Profile", {:action => "profile"}) %></li>
  <li><%= link_to_unless_current("Online Resume", {:action => "resume"}) %></li>
  <li><%= link_to_unless_current("Contact Information", {:action => "contact"}) %></li>
</ul>