<div id="blurb-box" class="blurb">
  <h3>Attention Recruiters...</h3>

  <div>
    <p>Thank you for your consideration.</p>

    <p>Due to the volume of emails received on a daily basis, I will respond only to correspondence meeting the below
      criteria. For this restriction, I do apologize; however, it is not expedient to respond to every email received.
    </p>

    <p><i>Submissions meeting the following criteria may expect a response within 24-72 hours; please
      include:</i></p>

    <div>
      <ul>
        <li>Opportunities relevant to
          my <%= link_to "preferences, technical skills and career direction.", profile_path %>
        </li>
        <li>Opportunities within my current geographical location (Northern NJ) or telecommute.</li>
        <li>Detailed job description.</li>
        <li>Detailed job requirements.</li>
        <li><%= link_to "Yearly salary/hourly rate (no exceptions please).", "javascript:void(0);", :id => "rate", :rel => "nofollow", :title => "C#.Net/MVC4: $90.00/Hr. min | Ruby On Rails: $110.00/Hr. min" %></li>
      </ul>
    </div>
    <p>
      Sincerely,<br/>
      Gene M. Angelo, Jr.
    </p>
  </div>
</div>