<h1>About</h1>

<p><i>Now, I don't mean to brag, but I make a MEAN weed-rat stew! ~ Shrek</i></p>

<h2>Lovin' it...</h2>

Sometimes you don't have to be the best of the best in order to be a great coder.
