<h1>Contact</h1>

<div class="pithy-quote">"Oh, ho ho! You sly dog! You got me monologuing!"
  <span class="pithy-quote-source">Syndrome, The Incredibles</span></div>

<div class="section">
  <p>
    Enough about me, I'd like to hear from you!</p>

  <p>Welcome to my <strong>contact information</strong> page. </p>

  <p>Here, potential employers and recruiters will find detailed information about
    my work history. Enjoy! If you are looking for a little "easier read",
    please check out my <%= link_to "personal profile", profile_path, :title => "View my personal profile" %> page.</p>
</div>

<%= render "shared/recruiter_message" %>

<div class="section">
  Stuff here.
</div>