<h1>Contact</h1>

<%
   quote = "Oh, ho ho! You sly dog! You got me monologuing!"
   source = "Syndrome, The Incredibles"
   response = "Enough about me, I'd like to hear from you!"
%>

<%= render "shared/pithy_quote", :quote => quote, :source => source, :response => response %>

<div class="section">
  <p>Welcome to my <strong>contact information</strong> page. </p>
</div>

<%= render "shared/recruiter_message" %>

<div class="section">
  Contact information here.
</div>