<h1>Personal Profile</h1>

<div class="pithy-quote">Now, I don't mean to brag, but I make a MEAN weed-rat stew! ~ Shrek</div>

<div class="section">
  <p>
    Sometimes you don't have to be the best of the best in order to be a great coder. </p>

  <p>Welcome to my <strong>personal profile</strong>. Employers will find categorized, "bite-sized" topics of interest
    helpful in determining my candidacy.</p>
</div>

<div class="section">
  <div class="section">
    <h1>Summary</h1>

    <p>
      Articulate, personable, cutting-edge, professional, Senior Web Application Developer/Architect specializing in
      Microsoft .NET Technology.</p>

    <p>
      Professional experience includes over 20 years of programming disciplines including ASP.NET 4.0-based web
      application design/coding (MVC/WebForms), architectural design, heavy object-oriented coding, UI design
      (Web/WinForms), AJAX, jQuery, SQL Server 2008/2005.</p>
  </div>

  <div class="section">
    <h1>Primary Goal</h1>

    <p>To secure a permanent, cutting-edge position, with an established, outstanding company, as a Senior Web
      Application Developer/Architect that utilizes my Microsoft .NET skills and technical know-how to the full.</p>
  </div>

  <div class="section">
    <h1>Specialties</h1>

    <p>Microsoft C#.NET, ASP.NET MVC, WinForms, AJAX, JQuery, heavy object-oriented design/programming, API
      design/development, every-tier application design/development, multi-thread
      functionality/pooling/control/synchronization, debugging, Microsoft SQL Server/database design/stored
      procedures/triggers, etc.</p>
  </div>

  <div class="section">
    <h1>xxxxxxx</h1>
  </div>

  <div class="section">
    <h1>xxxxxxx</h1>
  </div>
</div>