<h1>Personal Profile</h1>

<div class="section">
  <p>Welcome to my <strong>personal profile</strong>. </p>

  <p>Here you will find categorized,
    "bite-sized" topics of interest, helpful in determining my candidacy. Enjoy!</p>
</div>

<%
   quote = "Then one day, the irate tortoise answered back: 'Who do you think you are? There's no denying
                you’re swift, but even you can be beaten!' The hare squealed with laughter."
   source = 'The Tortoise and the Hare'
   response = "You you don't have to be the <i>best of the best</i> in order to be <em>great</em>
                at what you do; passion and sheer determination oft trumps intellectual prowess - booyah!"
%>

<%= render 'shared/pithy_quote', quote: quote, source: source, response: response %>

<%= render 'shared/overview' %>

<div class="section">
  <h1>Positional Preference</h1>

  <div class="profile-entry">
    A <i>hands-on</i>, <strong><%= render 'shared/job_title' %></strong> position that utilizes my Microsoft .NET skills
    and technical know-how to the full, would be ideal; primary job responsibilities would include, but not be limited
    to:

    <ul>
      <li>Visual Studio 2012+.</li>
      <li>Cutting edge, <i>hands-on</i>, ASP.NET MVC 4+/C# application development.</li>
      <li><i>hands-on</i>, design/coding/implementation of domain-driven, architecturally savvy web applications and
        intranets.
      </li>
      <li>ORM with Microsoft SQL Server-centric data model.</li>
      <li><i>hands-on</i>, WCF/XML Web Service development.</li>
      <li>Rich UI design and coding (jQuery, css, Ajax, etc.).</li>
      <li>DRY principals.</li>
      <li>Heavy OOP.</li>
      <li>Serious TDD implementation.</li>
      <li>Execution of hard-core agile development methodologies.</li>
      <li>TFS source control.</li>
      <li>Did I mention, <i>hands-on</i>??? :)</li>
    </ul>
  </div>
</div>

<div class="section">
  <h1>Contractual Preference</h1>

  <div class="profile-entry">
    When it comes to employment, I've started my career as a bit of a Hobbit, preferring more permanent fare, thank you
    very much! As
    providence would have it however, I've entered into consulting agreements on more recent ventures, and enjoy these
    quite a bit.
    While permanent positions are very much appreciated (and will be considered), <i>long-term consulting
    contracts are my "cup of tea!"</i>
  </div>
</div>

<div class="section">
  <h1>Industry Preference</h1>

  <div class="profile-entry">
    "Varied and extensive" would best describe my background; I have <%= render 'shared/years_experience' %>
    years of experience.

    <p>
      Industries in which I've labored include the <i>United States Department of Defense</i>,
      <i>Banking and Finance</i>, <i>Financial Investment</i>, <i>Cash Office</i>, <i>Check Processing</i>,
      <i>Purchase Order</i>, <i>Health Care</i>, <i>Industrial Manufacturing</i>,
      <i>Executive-level/High-Profile Talent
        Search</i>, <i>Education</i> and <i>Gaming</i>.
    </p>

    <p>In short, I have no strong industry preference, <i>I love what I do!</i></p>
  </div>
</div>

<div class="section">
  <h1>Environmental Preference</h1>

  <div class="profile-entry">
    <p>
      Most developers don't like sweatshops; neither do I. As a consultant, I've experienced
      a wide range of shops and environments; from slow, structured, corporate waterfall shops; to grueling, fast-paced,
      agile shops, and a few that fall somewhere in between. I prefer medium to small shops that adhere to
      Agile methodologies; managers who don't micromanage, and fellow team members whose
      <i>passion for what we do is through the roof.</i>
    </p>
  </div>
</div>

<div class="section">
  <h1>Technical Training Philosophy</h1>

  <div class="profile-entry">
    <p>My philosophy regarding training, is that <i>it never ends.</i> I regularly attend schools and courses
      in an ongoing effort to better myself, satisfy my passion for what I do, and to remain cutting-edge and
      relevant - all at my own expense. Frequent, short, intense, iterative training that can be put to immediate,
      practical use
      in the workplace, is of great worth to me. This is what I do.
      Consequently, I proudly broadcast the fact that <i>I am NOT Microsoft Certified</i>. Microsoft
      Certifications
      are costly and time consuming; they become irrelevant too quickly given the volatile technological landscape;
      and have become marginalized and viewed with suspicion as a result of the myriad of crash-certification
      courses
      available on the internet. After spending <i>hundreds of dollars, and countless hours</i> pursuing several
      Microsoft
      Certifications,
      I've decided to count my losses after seeing their relevancy vanish
      before it was
      even plausible to complete them. All this to say, that if you're looking for a "Microsoft Certified guy",
      you're probably barking up the wrong tree, unless of course you're willing to cough up the money and pay my way :)
    </p>

    <p>
      That being said,
      in August 2011, I received my certificate for completing the Microsoft
      <i>10264 Developing Web Applications with Microsoft Visual Studio 2010</i> course through the
      <i>ONLC Training Center, located in
        Morristown, NJ.</i>
      I am a graduate of the <i>Microsoft C#.NET Master's Program</i> administered through
      <i>SetFocus located in Parsippany, NJ.</i>
    </p>

    <p>The <i>CHUBB Institute of Technology</i> located in Parsippany, NJ, is where I received the bulk of my
      computer
      training, however. I am a graduate of several of their fine computer programming tracks: Web Design,
      ASP/VBScript, C++
      and COBOL. I have also attended, and received certificates from several other fine technical schools such as <i>The
      Learning Tree</i> for Java and the Sybase Training Division for Distributed Application Programming using
      PowerBuilder.</p>
  </div>
</div>
