<h1>Personal Profile</h1>

<div class="pithy-quote">Then one day, the irate tortoise answered back: &quot;Who do you think you are? There&apos;s no
  denying
  you’re swift, but even you can be beaten!&quot; The hare squealed with laughter.
  <span class="pithy-quote-source">The Tortoise and the Hare</span>
</div>

<div class="section">
  <p>
    You you don't have to be the best in order to be <em>great</em> at what you do; and passion oft trumps sheer
    intellectual prowess.</p>

  <p>Welcome to my <strong>personal profile</strong>. Here, potential employers will find categorized, "bite-sized"
    topics of interest
    helpful in determining my candidacy.</p>
</div>

<%= render "shared/overview" %>