<h1>Personal Profile</h1>

<div class="pithy-quote">Now, I don't mean to brag, but I make a MEAN weed-rat stew! ~ Shrek</div>

<div class="section">
  <p>
    Sometimes you don't have to be the best of the best in order to be a great coder. </p>

  <p>Welcome to my <strong>personal profile</strong>. Employers will find categorized, "bite-sized" topics of interest
    helpful in determining my candidacy.</p>
</div>

<%= render "shared/overview" %>