<h1>Resume</h1>

<div class="pithy-quote">"You, uh...you don't entertain much, do you?"
  <span class="pithy-quote-source">Donkey, Shrek</span>
</div>

<div class="section">
  <p>
    Uh...actually, I do! I've just been around for a while!</p>

  <p>Welcome to my <strong>online resume</strong>. </p>

  <p>Here, potential employers and recruiters will find detailed information about
    my work history. Enjoy! If you are looking for a little "easier read",
    please check out my <%= link_to "personal profile", profile_path, :title => "View my personal profile" %> page.</p>
</div>

<%= render "shared/recruiter_message" %>

<%= render "shared/overview" %>

<div class="section">
<h1>Experience</h1>

<div class="experience">
  <div class="job-title">Consultant</div>
  <div class="job-company-name">Russell Reynolds Associates, Inc.</div>
  <div class="job-dates">December 2011 - Present</div>
  <p>
    <span class="tech-tag">c#</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">asp.net mvc4</span>
    <span class="tech-tag">entity-framework</span>
    <span class="tech-tag">jquery</span>
    <span class="tech-tag">jquery-ajax</span>
    <span class="tech-tag">sql-server</span>
    <span class="tech-tag">agile</span>
    <span class="tech-tag">tdd</span>
    <span class="tech-tag">dependency-injection</span>
  </p>
</div>

<div class="experience">
  <div class="job-title">Consultant</div>
  <div class="job-company-name">AlphaMetrix, LLC</div>
  <div class="job-dates">September 2011 - October 2011</div>
  <p>
    <span class="tech-tag">c#</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">asp.net</span>
    <span class="tech-tag">asp.net mvc</span>
    <span class="tech-tag">ado.net</span>
    <span class="tech-tag">asp.net ajax</span>
    <span class="tech-tag">jquery</span>
    <span class="tech-tag">jquery-ajax</span>
    <span class="tech-tag">sql-server</span>
  </p>

  <div>
    <ul>
      <li>Designed/coded ASP.NET WebForms to be used in Hedge Fund Manager/Investor web portal.</li>
      <li>Programmed/maintained ASP.NET Server Controls, providing both server-side and client-side code solutions
        using C#, jQuery and Microsoft AJAX.
      </li>
      <li>Provided updates and enhancements to existing jQuery/Microsoft AJAX-based JavaScript framework.
        Coded/implemented jQuery AJAX solutions in ASP.NET WebForms and custom Server Controls, providing richer UI
        experience.
      </li>
      <li>Coded ASP.NET Web Methods consumed by asynchronous client-side JavaScript calls, providing AJAX data updates
        within existing WebForms.
      </li>
      <li>Created JSON objects from Data Model objects to be consumed by client-side script.</li>
      <li>Developed SQL Stored Procedures using Microsoft SQL Server 2008, to be consumed by proprietary web framework
        that provides data to UI components.
      </li>
      <li>Manage work items using Microsoft Team Foundation Server 2010.</li>
    </ul>
  </div>
</div>

<div class="experience">
  <div class="job-title">Consultant</div>
  <div class="job-company-name">U.S. Department of Defense</div>
  <div class="job-dates">September 2005 - September 2011</div>
  <p>
    <span class="tech-tag">c#</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">asp.net 3.5 webforms</span>
    <span class="tech-tag">ado.net</span>
    <span class="tech-tag">jquery</span>
    <span class="tech-tag">jquery-ajax</span>
    <span class="tech-tag">sql-server</span>
    <span class="tech-tag">winforms</span>
    <span class="tech-tag">multi-threadding</span>
  </p>

  <div>
    <ul>
      <li>Designed and programmed multi-tier architecture-based internet/extranet web applications used by 10 U.S.
        Army organizations, utilizing Microsoft Visual Studio 2010 Ultimate, Microsoft SQL 2005, Microsoft SQL
        Management Studio 2005 and other development and design tools.
      </li>
      <li>Coded reusable, object-oriented UI-tier components (WebForms/User Controls) using ASP.NET 4.0/C#.NET to
        satisfy ease-of-maintenance strategies.
      </li>
      <li>Developed stand-alone, deployable ASP.NET 4.0/C#.NET Custom Server Control assemblies incorporating AJAX,
        design-time support, custom templates, control state management and theme capability to enhance RAD of the
        UI-tier.
      </li>
      <li>Incorporated client-side/server-side security measures in the UI-tier, implementing Regular Expression data
        validation through the use of ASP.NET Validation Controls.
      </li>
      <li>Implemented extranet WebForm/content security using ASP.NET 4.0 forms security and Web.config security
        models in the UI-tier.
      </li>
      <li>Used C#.NET and ADO.NET to implement disconnected environment strategy data-tier components to be consumed
        by business-tier objects within ASP.NET 4.0 web applications.
      </li>
      <li>Utilized ASP.NET 4.0 Membership/Role Manager Provider API's to provide UI and business-tier security.</li>
      <li>Created databases, table relationships, schemas, stored procedures and triggers to meet complex web
        application functional and multi-tier requirements using Microsoft SQL 2005, Microsoft SQL Server Management
        Studio 2005 and Microsoft SQL Query Analyzer.
      </li>
      <li>Developed and incorporated SQL stored procedures using Microsoft SQL Server 2005 to enhance data-tier
        security against SQL injection.
      </li>
      <li>Reported to senior division heads providing detailed web application development project plans, relational
        database schematics, use cases, site design "storyboards", using Microsoft Project 2007 Professional,
        Microsoft Visio Professional 2007 and various Adobe graphic design software packages.
      </li>
    </ul>
  </div>

  <div class="experience">
    <div class="job-title">Consultant</div>
    <div class="job-company-name">Automatic Data Prossessing, Inc. (ADP)</div>
    <div class="job-dates">April 2005 - July 2005</div>
    <p>
      <span class="tech-tag">c#</span>
      <span class="tech-tag">object-oriented-design</span>
      <span class="tech-tag">ado.net</span>
      <span class="tech-tag">sql-server</span>
      <span class="tech-tag">winforms</span>
      <span class="tech-tag">visual studio</span>
      <span class="tech-tag">c</span>
      <span class="tech-tag">ms-office-sdk</span>
    </p>

    <div>
      <ul>
        <li>Developed solutions to meet business requirements in C#.NET, employing object–oriented programming
          concepts such as; encapsulation, inheritance, polymorphism, and abstraction for in-house C legacy system
          conversion to C#.NET.
        </li>
        <li>Leveraged Microsoft Office 2003 Development Kit .NET Assemblies to integrate Microsoft Office Excel 2003
          into C#.NET WinForm applications.
        </li>
        <li>Used C#.NET and ADO.NET to define and implement secure middle-tier components using both connected and
          disconnected environment strategies. Components were consumed by WinForms applications utilizing IBM DB2 to
          perform logical business transactions.
        </li>
        <li>Created custom C#.NET User Controls to meet application User Interface requirements.</li>
        <li>Maintained and enhanced in-house legacy Microsoft Windows applications for Pays/Order Processing written
          in C.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="experience">
  <div class="job-title">Lead Application Developer</div>
  <div class="job-company-name">C.D. Meyer, Inc.</div>
  <div class="job-dates">December 2001 - April 2005</div>
  <p>
    <span class="tech-tag">c++</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">visual-c++</span>
    <span class="tech-tag">win32-api</span>
    <span class="tech-tag">winforms</span>
    <span class="tech-tag">flash-mx-2004</span>
    <span class="tech-tag">odbc</span>
    <span class="tech-tag">dll</span>
  </p>

  <div>
    <ul>
      <li>Designed, coded and maintained Microsoft Visual C++ 6.0 GUI applications using C++/MFC, Win32 and Shell
        API's, to create, maintain and report Adobe Flash MX 2004 application configuration and user data.
      </li>
      <li>Programmed Microsoft Visual C++ 6.0 custom GUI installation applications utilizing C++/MFC and the Win32 API
        to support installations and ongoing updates of Adobe Flash MX 2004 applications.
      </li>
      <li>Created Microsoft Visual C++ 6.0 .DLL Plug-ins for Adobe Flash MX 2004 to extend functionality to include:
        Microsoft Office 2000 Outlook Calendar integration using COM automation, Microsoft Internet Explorer Printing
        integration using COM automation, ODBC database connectivity/manipulation, complex file handling including
        object serialization, and various Microsoft Windows operating system features using Win32 and Shell APIs.
      </li>
      <li>Developed company standard Adobe Flash MX 2004 reusable ActionScript 1.0 and 2.0 OOP application class
        libraries.
      </li>
      <li>Composed Adobe Flash MX 2004 secure XML class libraries, expediting application customization while
        prohibiting client changes saving company time and money.
      </li>
      <li>Maintained version control database using Microsoft Visual SourceSafe 6.0.</li>
    </ul>

  </div>

</div>

<div class="experience">
  <div class="job-title">Senior Application Developer</div>
  <div class="job-company-name">Markcare Medical Solutions, Inc.</div>
  <div class="job-dates">July 1999 - December 2001</div>
  <p>
    <span class="tech-tag">c++</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">visual-c++</span>
    <span class="tech-tag">win32-api</span>
    <span class="tech-tag">oracle</span>
    <span class="tech-tag">sybase</span>
    <span class="tech-tag">multi-threading</span>
    <span class="tech-tag">odbc</span>
    <span class="tech-tag">dll</span>
    <span class="tech-tag">his-ris</span>
  </p>

  <div>
    <ul>
      <li>Designed and coded Microsoft Windows NT/2000 based GUI applications using Microsoft Visual C++ 6.0 as
        standalone and add-on applications for existing HIS/RIS medical systems.
      </li>
      <li>Created, maintained and implemented C++/MFC class libraries for new and existing systems to include: Microsoft
        Windows NT/2000 system functionality; Multi-thread functionality/pooling/control/synchronization; Windows
        Registry processing; file handling/complex object archiving/serialization; Web Protocols/Ftp/Http; Dynamic Link
        Library (DLL) creation/implementation; and more.
      </li>
      <li>Provided Sybase and Oracle database integration for new and existing applications through ODBC, Embedded SQL
        and Stored Procedures via C++/MFC class libraries.
      </li>
      <li>Designed and coded reusable OO classes using C++/MFC according to program functional requirements.</li>
      <li>Full life cycle application development including design, coding and maintenance.</li>
    </ul>

  </div>

</div>

<div class="experience">
  <div class="job-title">Senior Programmer</div>
  <div class="job-company-name">ATS Money Systems, Inc.</div>
  <div class="job-dates">April 1998 - November 1998</div>
  <p>
    <span class="tech-tag">c++</span>
    <span class="tech-tag">object-oriented-design</span>
    <span class="tech-tag">visual-c++</span>
    <span class="tech-tag">multi-threading</span>
  </p>

  <div>
    <ul>
      <li>Developed Microsoft Windows NT software product CP4000, written in Microsoft Visual C++ 6.0.</li>
      <li>Designed GUI using Microsoft Visual C++ 6.0 and Microsoft Visual Basic.</li>
      <li>Designed and coded reusable object-oriented classes using C++/MFC according to program functional
        requirements.
      </li>
      <li>Full life cycle application development including design, coding and maintenance.</li>
    </ul>

  </div>

  <div class="experience">
    <div class="job-title">Senior Programmer Analyst</div>
    <div class="job-company-name">Earnings Performance Group, Inc. (EPG)</div>
    <div class="job-dates">January 1992 - April 1998</div>
    <p>
      <span class="tech-tag">c++</span>
      <span class="tech-tag">object-oriented-design</span>
      <span class="tech-tag">visual-c++</span>
      <span class="tech-tag">multithreading</span>
      <span class="tech-tag">win32-api</span>
      <span class="tech-tag">dll</span>
      <span class="tech-tag">microfocus-cobol</span>
      <span class="tech-tag">cobol</span>
      <span class="tech-tag">oracle</span>
      <span class="tech-tag">sybase</span>
    </p>

    <div>
      <ul>
        <li>Developed CAS Satellite Application using Microsoft Visual C++ 6.0; a C Windows NT utility used to verify
          workstation application files against the application’s "signature" files for troubleshooting.
        </li>
        <li>Created Windows NT application libraries (.DLL) written in C using Microsoft Visual C++ 6.0, providing
          program functionality otherwise unavailable to the PowerBuilder Windows Development product. These libraries
          provide powerful system and file functions as well as process/thread and Window control functions.
        </li>
        <li>Developed Microsoft Word Add-in libraries (.WLL) written in C to provide application controlled
          correspondence processing for CAS system.
        </li>
        <li>Composed SiGmUnd I, a powerful COBOL utility that generates embedded XDB SQL in Realia COBOL.</li>
        <li>Created SiGmUnd II, a powerful C Windows utility that generates embedded ORACLE SQL in Micro Focus COBOL.
        </li>
        <li>Converted Microsoft Windows API C prototypes, data types and structures into Micro Focus COBOL data types
          for use in COBOL applications required to interface with the Microsoft Windows API.
        </li>
        <li>Developed Microsoft Windows API solutions written in Micro Focus COBOL utilizing the Microsoft SDK.</li>
      </ul>

    </div>

  </div>

  <div class="experience">
    <div class="job-title">Consultant</div>
    <div class="job-company-name">AT&amp;T P.A.T Group</div>
    <div class="job-dates">October 1991 - December 1991</div>
    <p>
      <span class="tech-tag">dbase-3</span>
    </p>

    <div>
      <ul>
        <li>Designed intra-company mail distribution system, increasing efficiency by 50%.</li>
        <li>Incorporate DBASE III table changes to accommodate organizational changes producing a more flexible system
          for mail distribution.
        </li>
      </ul>
    </div>
  </div>

  <div class="experience">
    <div class="job-title">Consultant</div>
    <div class="job-company-name">AT&amp;T Computer Systems</div>
    <div class="job-dates">February 1990 - August 1991</div>
    <p>
      <span class="tech-tag">dbase-3</span>
      <span class="tech-tag">c</span>
      <span class="tech-tag">unix-programming</span>
      <span class="tech-tag">unix</span>
      <span class="tech-tag">informix</span>
      <span class="tech-tag">informix-4gl</span>
    </p>

    <div>
      <ul>
        <li>Designed intra-company mail distribution system, increasing efficiency by 50%.</li>
        <li>Incorporate DBASE III table changes to accommodate organizational changes producing a more flexible system
          for mail distribution.
        </li>
      </ul>
    </div>
  </div>

  <div class="experience">
    <div class="job-title">Distribution Manager</div>
    <div class="job-company-name">United States Marine Corps (U.S.M.C)</div>
    <div class="job-dates">April 1986 - January 1990</div>
    <p>
      <span class="tech-tag">nrmms-computer-system</span>
    </p>

    <div>
      <ul>
        <li>Managed squadron wide distribution of military aircraft parts via Honeywell NRMMS computer system</li>
      </ul>
    </div>
  </div>

</div>

</div>

<div class="section">
  <h1>Education</h1>

  <div class="education">
    <div class="degree-specialty">Certificate, 10264 Developing Web Applications with Microsoft Visual Studio 2010</div>
    <div class="university-institution">ONLC Training Center, Morristown, NJ</div>
    <div class="timeframe-from-to">August 2011</div>
    <p><span class="tech-tag">c#</span>
      <span class="tech-tag">asp.net</span>
      <span class="tech-tag">asp.net-mvc</span>
      <span class="tech-tag">asp.net-ajax</span>
      <span class="tech-tag">jquery</span>
      <span class="tech-tag">entity-framework</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Graduate, Microsoft C#.NET Master's Program</div>
    <div class="university-institution">Set Focus, LLC, Parsippany, NJ</div>
    <div class="timeframe-from-to">April 2005 - January 2006</div>
    <p><span class="tech-tag">c#</span>
      <span class="tech-tag">asp.net</span>
      <span class="tech-tag">winforms</span>
      <span class="tech-tag">sql-server</span>
      <span class="tech-tag">ado.net</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Certificate, Web Application Development/Web Design using ASP/VBScript</div>
    <div class="university-institution">CHUBB Advanced Training Division, Inc., Parsippany, NJ</div>
    <div class="timeframe-from-to">December 2002</div>
    <p>
      <span class="tech-tag">asp</span>
      <span class="tech-tag">vbscript</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Graduate, Web Design</div>
    <div class="university-institution">The CHUBB Institute of Technology, Inc., Parsippany, NJ</div>
    <div class="timeframe-from-to">May 2002 - October 2002</div>
    <p><span class="tech-tag">dhtml</span>
      <span class="tech-tag">web-design</span>
      <span class="tech-tag">web-development</span>
      <span class="tech-tag">dreamweaver</span>
      <span class="tech-tag">flash</span>
      <span class="tech-tag">actionscript</span>
      <span class="tech-tag">photoshop</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Certificate, Java Programming for C++ Developers</div>
    <div class="university-institution">The Learning Tree International, Inc., New York, NY</div>
    <div class="timeframe-from-to">April 2000</div>
    <p><span class="tech-tag">java</span>
      <span class="tech-tag">object-oriented-design</span>
      <span class="tech-tag">jsp</span>
      <span class="tech-tag">javabeans</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Certificate, Fast Track to PowerBuilder (Building Distributed PowerBuilder
      Applications)
    </div>
    <div class="university-institution">Sybase Training Division, Inc., Parsippany, NJ</div>
    <div class="timeframe-from-to">January 2000</div>
    <p><span class="tech-tag">powerbuilder</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Certificate, Object Oriented Programming Using MS Visual C++ 6.0</div>
    <div class="university-institution">CHUBB Advanced Training Division, Inc., Parsippany, NJ</div>
    <div class="timeframe-from-to">March 1998 - April 1998</div>
    <p><span class="tech-tag">c++</span>
      <span class="tech-tag">object-oriented-design</span>
    </p>

    <div class="description-achievements"></div>
  </div>

  <div class="education">
    <div class="degree-specialty">Diploma, Computer Programming</div>
    <div class="university-institution">The CHUBB Institute of Technology, Inc., Parsippany, NJ</div>
    <div class="timeframe-from-to">September 1990 - January 1992</div>
    <p><span class="tech-tag">cobol</span>
      <span class="tech-tag">cobol2</span>
      <span class="tech-tag">mvs</span>
      <span class="tech-tag">jcl</span>
      <span class="tech-tag">datasets</span>
      <span class="tech-tag">tso</span>
      <span class="tech-tag">flowcharting</span>
      <span class="tech-tag">software-design</span>
      <span class="tech-tag">software-development</span>
    </p>

    <div class="description-achievements">
      The CHUBB Institute of Technology Computer Programming course at the time, had a 50% drop-out rate. I graduated
      2nd
      in my class. Participated in CHUBB C project; CHUBB Advanced Labs Course.
    </div>
  </div>
</div>