<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Email from www.geneangelo.com</h1>

<p>
  You've received a message from: <%= message.from.to_s.html_safe unless message.from.nil? %>
</p>

<h2>Message</h2>

<p>
  <%= @contact_model.message %>
</p>
</body>
</html>