<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Email from www.geneangelo.com</h1>
From: <%= message.from.to_s.html_safe unless message.from.nil? %>
To: <%= message.to.to_s.html_safe unless message.to.nil? %>
<%= @contact_model.message %>
</body>
</html>