// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-h-font-size: 25px;
$base-font-size: 0.85em;

$background-image-width: 800px;
$background-image-height: 300px;

body {
  background-color: #000;
  background-image: asset_url("background-tile.png", image);
  color: #1C94C4;
  font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
  font-size: $base-font-size;
  margin: 0;
}

a:link {color:#1C94C4;}
a:visited {color: rgba(28, 148, 196, 0.58);}
a:hover {color:#1C94C4;}
a:active {color:#1C94C4;}

div.genemangelojr-header {
  width: $background-image-width;
  color: #ff9911;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.flash-notice-container {
  background-color: #fff;
  height: 40px;
  text-align: left;
  font-size: $base-font-size * 1.50;
  font-weight: bold;
  display: none;

  .flash-notice {
    color: #009900;
    padding: 5px;
    background-color: rgba(0, 153, 0, 0.50);
  }

  .flash-alert, .flash-error {
    color: #990000;
    padding: 5px;
    background-color: rgba(153, 0, 0, 0.49);
  }

  .flash-icon {
    vertical-align: middle;
    padding-right: 5px;
  }
}

div.genemangelojr-header>h1 {
  margin-bottom: 0px;
}

h1 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: $base-h-font-size;
  font-weight: bold;

  .section & {
    font-size: $base-h-font-size - 5px;
  }
}

h2 {
  margin: 10px 0 1px 0px;
  font-size: $base-h-font-size - 5px;
  line-height: 16px;
  font-weight: bold;
  padding: 0;

  .section & {
    font-style: italic;
    font-size: $base-h-font-size - 7px;
  }
}

h3 {
  margin: 20px 0 3px 0;
  font-size: $base-h-font-size - 7px;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;

  .section & {
    font-size: $base-h-font-size - 10px;
  }
}

/* custom*/

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.rounded-corners-small {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.main-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-body, .main-body-bottom {
  display: block;
  width: $background-image-width;
  min-height: $background-image-height;
  background-color: #fff;
  border: 1px solid #888;
}

.main-body-inner, .main-body-inner-bottom {
  position: relative;
  z-index: 100;
  display: block;
  width: $background-image-width;
  height: $background-image-height;
  background-color: #fff;
}

.main-body-bottom {
  border: none;
}

.main-body-padding, .footer-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 8px 8px 3px rgba(151, 151, 151, 0.65);
}

ul.navigation-bar {
  float: right;
}

ul.navigation-bar li {
  display: inline;
}

ul.navigation-bar li:after {
  content: ' | ';
}

.blurb {
  /*
  background-color: #eee;
  margin: 12px;
  padding: 5px;
  */
}

/* footer*/
.footer {
  color: #666;
  font-size: $base-font-size;
  line-height: 20px;
}

div.hr {
  border-top: 1px solid #ddd;
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 12px;
}

/* pithy quote*/
.pithy-quote-container {
  font-style: italic;
  background-color: #e0e0e0;
  display: block;
  /* override the top padding of small-quote*/
  padding-top: 25px !important;

  & .pith-quote {
    display: block;
  }

  & .pithy-quote-source:before {
    content: ' ~ ';
  }

  & .pithy-quote-response {
    display: block;
    font-style: normal;
    margin-top: 20px;
  }
}

/* small quote*/
.small-quote {
  background-image: url(quotes-small.png);
  background-position: 8px 25px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 30px;
}

/* section*/
.section {
  margin-top: 25px;
}

.section>.small-quote {
  background-color: #e0e0e0;
}

/* like/dislike/deal-breaker tags*/
.tech-list-container {
  margin-top: 50px;
  padding-left: 75px;
  background-repeat: no-repeat;
  min-height: 75px;

  &.like-container {
    background-image: asset_url('emoticon-like.png', image);
  }

  &.dislike-container {
    background-image: asset_url('emoticon-dislike.png', image);
  }

  &.deal-breaker-container {
    background-image: asset_url('emoticon-deal-breaker.png', image);
  }
}

.like-color {
  color: #006600;
}

.dislike-color {
  color: #dda000;
}

.deal-breaker-color {
  color: #660000;
}

.tech-tag {
  padding: 3px 5px 3px 5px;
  display: inline-block;
  margin-top: 5px;

  background-color: #E0EAF1;
  border: 1px solid #55a4d1;

  &.like {
    background-color: #cff1c9;
    border: 1px solid #67b570;
    @extend .like-color;
  }

  &.dislike {
    background-color: rgba(255, 160, 0, 0.25);
    border: 1px solid rgba(255, 160, 0, 0.50);
    @extend .dislike-color;
  }

  &.deal-breaker {
    background-color: rgba(102, 0, 0, 0.25);
    border: 1px solid rgba(102, 0, 0, 0.50);
    @extend .deal-breaker-color;
  }
}

.experience, .education {

  border-top: 1px solid #999;
  margin-top: 10px;
  padding-top: 12px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  &>.job-title, &>.degree-specialty {
    font-weight: bold;
    display: inline-block;
  }

  &>.job-title:after, &>.degree-specialty:after {
    content: ',';
  }

  &>.job-company-name, &>.university-institution {
    font-style: italic;
    display: inline-block;
  }

  &>.job-dates, &>.timeframe-from-to {
    font-style: italic;
    font-size: smaller;
  }
}

.form-label {
  text-transform: capitalize;
  display: block;

  &.required:after {
    content: url(required-icon.png);
    margin-left: 3px;
  }
}

.form-field {
  margin-bottom: 12px;
}

.form-key {
  display: block;
  margin-top: 12px;

  &.form-key:before {
    content: url(required-icon.png);
    margin-right: 3px;
  }
}

.error-message-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-message {
  color: #900;
  text-transform: capitalize;
}

.error-message:before {
  content: url(error-icon.png);
  vertical-align: middle;
  margin-right: 3px;
}

.links a {
    display: block;
}

.links.left-side {
  width: 375px;
  float: left;
  display: inline;
}

.links.right-side{
  width: 375px;
  display: inline;
}