// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-h-font-size: 25px;
$base-font-size: 0.85em;

body {
  font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
  font-size: $base-font-size;
  /* color: #909090;*/
  color: #1C94C4;
}

h1 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: $base-h-font-size;
  font-weight: bold;
}

h2 {
  margin: 10px 0 1px 0px;
  font-size: $base-h-font-size - 5px;
  line-height: 16px;
  font-weight: bold;
  padding: 0;
}

h3 {
  margin: 20px 0 3px 0;
  font-size: $base-h-font-size - 10px;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
}

/* custom*/

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.rounded-corners-small {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

body {
  background-color: #000;
}

.main-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-body {
  display: block;
  width: 800px;
  min-height: 600px;
  background-color: #fff;
  border: 1px solid #888;
}

.main-body-inner {
  position: relative;
  z-index: 100;
  display: block;
  width: 800px;
  height: 200px;
  background-color: #fff;
}

.main-body-padding, .footer-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 10px 10px 5px #888888;
}

ul.navigation-bar {
  float: right;
}

ul.navigation-bar li {
  display: inline;
}

ul.navigation-bar li:after {
  content: ' | ';
}

.blurb {
  /*
  background-color: #eee;
  margin: 12px;
  padding: 5px;
  */
}

.section {
  margin-top: 25px;
}

/*footer*/
.footer {
  font-size: $base-font-size;
}

.pithy-quote {
}

/* .section>.section*/

.section>.section {
  background-color: #fefefe;
}

.section>.section {
  h1 {
    font-size: $base-h-font-size;
  }
}